<header class="masthead">

  <div class="container">
    <%= render 'layouts/shared/links' %>

    <br><br><br><br>
  </div>

</header>

<section class="services">
  <div class="container">
    <div class="box first">

      <div class="row">
        <div class="col-md-12">
          <div class="nav-left-text">
            <div class="rdg-expertise-description rdg-strategy-bg rdg-animated-delay-0-contact text-right" style="float: left;"></div>

            <p style="font-size: 22px; color: black">PESQUISA</p>
            <p style="font-size: 48px; margin-top: 10px; color: #2d5c82">REALIZE UMA BUSCA EM NOSSO WEBSITE</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <form action="#" method="POST">
            <input placeholder="Procurar" class="form-control" />
          </form>

          <a href="#" class="website-links">Resultado</a>
          <a href="#" class="website-links">Resultado</a>
          <a href="#" class="website-links">Resultado</a>
          <a href="#" class="website-links">Resultado</a>
          <a href="#" class="website-links">Resultado</a>

          <br>
        </div>
      </div>
    </div>
  </div>
</section>