<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="nav-left-text">
        <div class="rdg-expertise-description rdg-brief-bg rdg-animated-delay-0 text-right" style="float: left;"></div>

        <p style="margin-bottom: -2rem; color: white;">A NORTE SUL INVESTE NO</p>
        <p style="color: white; margin:-30px">PRESENTE E PRESERVA O FUTURO</p>
      </div>

      <div class="col-md-6">
        <%= link_to 'SIMULE AGORA', new_calculadora_path(anchor: 'calculadora'), class: 'btn btn-primary-transparent pull-left' %>
      </div>
    </div>
  </div>
</div>
